.totalContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    line-height: 100%;
    font-size: 20px;
    font-weight: 700;
}